<!-- FILEPATH: /workspaces/fbmanager/view/menu.ejs -->

<div class="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Account List</a></li>
        <li><a href="#">Add Account</a></li>
        <li><a href="#">Proxy List</a></li>
        <li><a href="#">Add Proxy</a></li>
    </ul>
</div>
